.DS_Store
.happypack/
node_modules/
npm-debug.log
.idea/
dist
static
public/client
public/static
public/html
!public/swagger
private
run
*.iml
artifacts.json
*tmp
_site
logs
.vscode
coverage/
config/buildConfig.json
config/manifest.json
app/view/*
!app/view/layout.html
!app/view/README.md
node_modules*.*
docs/
