
.header {
  height: 80px;
  background-color: #20a0ff;
  color: #fff;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  line-height: 80px;
  z-index: 100;
  position: relative
}


.header .container {
  height: 100%;
  box-sizing: border-box;
  width: 1140px;
  padding: 0 30px;
  margin: 0 auto;
}

.header h1 {
  float: left;
  font-size: 32px;
  font-weight: 400
}

.header h1 a {
  color: #fff;
  text-decoration: none;
  display: block
}

.header h1 span {
  font-size: 12px;
  display: inline-block;
  width: 34px;
  height: 18px;
  border: 1px solid hsla(0, 0%, 100%, .5);
  text-align: center;
  line-height: 18px;
  vertical-align: middle;
  margin-left: 10px;
  border-radius: 3px
}

.header .nav {
  float: right;
  height: 100%;
  line-height: 80px;
  background: transparent;
  padding: 0;
  margin: 0
}

.header .nav-logo-small, .header .nav-logo {
  vertical-align: sub
}

.header .nav-logo-small {
  display: none
}

.header-home {
  position: fixed;
  top: 0;
  background-color: rgba(32, 160, 255, 0)
}

@media (max-width: 850px) {
  .header .nav-logo {
    display: none
  }

  .header .nav-logo-small {
    display: inline-block
  }

}

@media (max-width: 700px) {
  .header .container {
    padding: 0 12px
  }

}
